<div class="bg-principal p-4 rounded-lg w-[300px] shadow-lg">
  <div class="flex flex-col gap-4">
    <div class="flex-1">
      <h2 class="text-2xl font-bold mb-4 text-primary">Login</h2>
      <form [formGroup]="_form" (ngSubmit)="onSubmitClick()">

        <app-input-text
          placeholder="Email"
          type="email"
          formControlName="email">
          @if (_form.get('email')?.touched && _form.get('email')?.invalid) {
            <div class="text-red-500 text-sm">
              @if (_form.get('email')?.errors?.['required']) {
                <span>O e-mail é obrigatório.</span>
              }
              @if (_form.get('email')?.errors?.['email']) {
                <span>Formato de e-mail inválido.</span>
              }
            </div>
          }
        </app-input-text>

        <app-input-text
          placeholder="Senha"
          type="password"
          formControlName="password">
          @if (_form.get('password')?.touched && _form.get('password')?.invalid) {
            <div class="text-red-500 text-sm">
              @if (_form.get('password')?.errors?.['required']) {
                <span>A senha é obrigatória.</span>
              }
              @if (_form.get('password')?.errors?.['passwordError']) {
                <span>
                  <span [appFloatingTooltip]="getTooltipText()" class="material-icons text-(--danger-color) mt-2 cursor-pointer">warning</span>
                </span>
              }
            </div>
          }
        </app-input-text>

        <app-button type="submit">Entrar</app-button>

      </form>
    </div>
    <div class="flex-1 flex items-center justify-center">
      <img src="./pimelstore.png" alt="Login Illustration" class="w-[150px] rounded-lg"/>
    </div>
  </div>
</div>
