<div class="bg-principal p-4 rounded-md w-[300px] shadow-md">
  <div class="flex flex-col">
    <div class="flex-1">
      <h2 class="text-2xl font-bold mb-4 text-primary">Login</h2>
      <C-input-text
        placeholder="Email"
        type="email"
        (valueChange)="onEmailChange($event)"
      ></C-input-text>
      <C-input-text
        placeholder="Senha"
        type="password"
        (valueChange)="onPasswordChange($event)"
      ></C-input-text>
      <C-button (click)="onSubmitClick($event)">Entrar</C-button>
    </div>
    <div class="flex-1 flex items-center justify-center">
      <img src="./cores.png" alt="Login Illustration" class="w-[400px] "/>
    </div>
  </div>
</div>
