
:root {
  --color-digital-blue-50: #e5f0ff;
  --color-digital-blue-100: #cce0ff;
  --color-digital-blue-200: #99c2ff;
  --color-digital-blue-300: #66a3ff;
  --color-digital-blue-400: #3385ff;
  --color-digital-blue-500: #0066ff;
  --color-digital-blue-600: #0052cc;
  --color-digital-blue-700: #003d99;
  --color-digital-blue-800: #002966;
  --color-digital-blue-900: #001433;
  --color-digital-blue-950: #000e24;

  --color-black-50: #F2F2F2;
  --color-black-100: #E6E6E6;
  --color-black-200: #CCCCCC;
  --color-black-300: #B3B3B3;
  --color-black-400: #999999;
  --color-black-500: #808080;
  --color-black-600: #666666;
  --color-black-700: #4D4D4D;
  --color-black-800: #333333;
  --color-black-900: #1A1A1A;
  --color-black-950: #121212;

  --color-orange-50: #ffa985;
  --color-orange-100: #ff9b70;
  --color-orange-200: #ff8d5c;
  --color-orange-300: #ff7e47;
  --color-orange-400: #ff7033;
  --color-orange-500: #ff540a;
  --color-orange-600: #F54900;
  --color-orange-700: #E04300;
  --color-orange-800: #CC3D00;
  --color-orange-900: #B83700;
  --color-orange-950: #A33100;

  --color-yellow-50: #ffe169;
  --color-yellow-100: #fad643;
  --color-yellow-200: #edc531;
  --color-yellow-300: #dbb42c;
  --color-yellow-400: #c9a227;
  --color-yellow-500: #B69121;
  --color-yellow-600: #A47E1B;
  --color-yellow-700: #926C15;
  --color-yellow-800: #805B10;
  --color-yellow-900: #76520E;
  --color-yellow-950: #5C3E0A;

  --color-red-50: #E01E37;
  --color-red-100: #DA1E37;
  --color-red-200: #C71F37;
  --color-red-300: #BD1F36;
  --color-red-400: #B21E35;
  --color-red-500: #A71E34;
  --color-red-600: #A11D33;
  --color-red-700: #A11D33;
  --color-red-800: #6E1423;
  --color-red-900: #641220;
  --colore-red-950: #4D0F1A;

  --color-green-50: #B7EFC5;
  --color-green-100: #92E6A7;
  --color-green-200: #6EDE8A;
  --color-green-300: #4AD66D;
  --color-green-400: #2DC653;
  --color-green-500: #25A244;
  --color-green-600: #208B3A;
  --color-green-700: #1A7431;
  --color-green-800: #155D27;
  --color-green-900: #10451D;
  --color-green-950: #0C3314;

  --color-50:  var(--color-digital-blue-50);
  --color-100: var(--color-digital-blue-100);
  --color-200: var(--color-digital-blue-200);
  --color-300: var(--color-digital-blue-300);
  --color-400: var(--color-digital-blue-400);
  --color-500: var(--color-digital-blue-500);
  --color-600: var(--color-digital-blue-600);
  --color-700: var(--color-digital-blue-700);
  --color-800: var(--color-digital-blue-800);
  --color-900: var(--color-digital-blue-900);
  --color-950: var(--color-digital-blue-950);



  --neutral-500: #efefef;

}
