

// $color-primary: #FF0000;
// $color-primary-dark: #6200ff;

// @function shade($color, $percent) {
//   @return mix(black, $color, $percent);
// }

// // @theme {

// //   .dark{

// //   }
// // }

// :root {

// }

// .dark {
//   --color-primary-100: #{shade($color-primary-dark, 90%)};
//   --color-primary-200: #{shade($color-primary-dark, 80%)};
//   --color-primary-300: #{shade($color-primary-dark, 70%)};
//   --color-primary-400: #{shade($color-primary-dark, 60%)};
//   --color-primary-500: #{$color-primary-dark};
//   --color-primary-600: #{shade($color-primary-dark, 10%)};
//   --color-primary-700: #{shade($color-primary-dark, 20%)};
//   --color-primary-800: #{shade($color-primary-dark, 30%)};
//   --color-primary-900: #{shade($color-primary-dark, 40%)};
// }
