
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}// VARIABLES FROM TAILWIND.CSS

body{
  background-color: var(--backgound-color) ;
}

.bg-primary {
  background-color: var(--principal-color);
}

.bg-alert {
  background-color: var(--alert-color);
}

.bg-white{
  background-color: var(--backgound-white);
}

.text-primary {
  color: var(--text-color);
}

.hover\:bg-primary:hover {
  background-color: var(--principal-color);
}
.hover\:bg-secondary:hover {
  background-color: var(--button-hover);
  color: #fff;
}

.focus\:focus-primary:focus {
  background-color: var(--principal-color);
}

.border-principal{
  border-color: var(--border-color);
}

.button-primary{
  background-color: var(--button-primary);
  color: var(--button-text-color);
}

.outline-primary{
  outline-color: var(--button-primary);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




.floating-tooltip {
  position: fixed;
  max-width: 300px;
  background: var(--principal-color);
  color: var(--text-color);
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 5px;
  white-space: pre-line;
  z-index: 9999;
  pointer-events: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  transition: opacity 0.15s ease;
}


.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

/* seta para cada posição */
.tooltip-top .tooltip-arrow {
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px 5px 0 5px;
  border-color: var(--principal-color) transparent transparent transparent;
}

.tooltip-bottom .tooltip-arrow {
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent var(--principal-color) transparent;
}

.tooltip-left .tooltip-arrow {
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent var(--principal-color);
}

.tooltip-right .tooltip-arrow {
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 5px 5px 5px 0;
  border-color: transparent var(--principal-color) transparent transparent;
}

