
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}// VARIABLES FROM TAILWIND.CSS

body{
  background-color: var(--backgound-color) ;
}

.bg-primary {
  background-color: var(--principal-color);
}

.bg-white{
  background-color: var(--backgound-white);
}

.text-primary {
  color: var(--text-color);
}

.hover\:bg-primary:hover {
  background-color: var(--principal-color);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
