@import "tailwindcss";
@import "./themes/custom-pallete.css";


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  transition: all 0.3s ease;
}

:root {
  --principal-color: var(--color-digital-blue-100);
  --backgound-color: var(--color-black-100);
  --backgound-white: #fff;

  --text-color:var(--color-black-950);

}



[data-theme="dark"] {
  --principal-color: var(--color-black-800);
  --backgound-color: var(--color-black-900);
  --backgound-white: var(--color-black-950);

  --text-color:var(--color-black-200);

}

