@import "tailwindcss";
@import "./themes/custom-pallete.css";


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --principal-color: var(--color-digital-blue-100);
  --backgound-color: var(--color-black-100);
  --backgound-white: #fff;

  --danger-color: var(--color-yellow-200);
  --error-color: var(--color-red-50);
  --success-color: var(--color-green-400);

  --text-color:var(--color-black-950);

  --border-color: var(--color-black-100);


  --focus-color: var(--color-black-100);

  --button-primary: var(--color-orange-400);
  --button-text-color: var(--color-black-100);
  --button-hover: var(--color-orange-500);


}

[data-theme="dark"] {
  --principal-color: var(--color-black-800);
  --backgound-color: var(--color-black-900);
  --backgound-white: var(--color-black-950);

  --danger-color: var(--color-yellow-700);
  --error-color: var(--color-red-700);
  --success-color: var(--color-green-700);

  --text-color:var(--color-black-200);

  --border-color: var(--color-black-500);

  --focus-color: var(--color-black-100);

  --button-primary: var(--color-orange-900);
  --button-text-color: var(--color-black-100);
  --button-hover: var(--color-orange-800);

}

